  <nav class="navbar navbar-default" style="background-color:#B0C4DE;" >
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"> <h1>Billboard</h1></a>
		
      </div>
	  
		<div class="container">
		<ul class="nav navbar-nav navbar-right">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
		<li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
		</ul>
		</div>

   </div>
  </nav>