<div class="text-center" style="background-color:#FFFFFF;font-size: 21px;font-weight: 200;line-height: 2.14286; margin-bottom: 30px;">

<date-filter-component></date-filter-component> 

<div class="after-box"></div>

<total-message-component></total-message-component> 

<failed-message-component></failed-message-component>

<div class="after-box"></div>
<div class="floating-box messagesList">Messages List
<messages-list-component></messages-list-component>
</div>
<div class="after-box"></div>
</div>
<div class="after-box"></div>